:root {
  --main-color-font: #112211;
  --brand-color: #8dd3bb;
  --accent-color: #ff8682;
  --bg-color: #fafbfc;
  // использую для синхронизации верхнего отступа в HomePage (Line 24) и позиции top для HeaderComponent (Line 75)
  --main-block-padding: 30px;

  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "TradeGothic", sans-serif ;
}
