@import '_fonts.scss';
@import '_variables.scss';

* {
  box-sizing: border-box;
}

html body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color-dark);
}

.title-ff {
  font-family: 'TradeGothic', sans-serif;
}
.font-color-7 {
  opacity: 0.7;
}
.font-color-5 {
  opacity: 0.5;
}
.font-color-4 {
  opacity: 0.4;
}
// _______________________________________________Font-size ---Montserrat

.fz-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.fz-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
