@import '_fonts.scss';
@import '_variables.scss';

* {
  box-sizing: border-box;
  
}
  html body {
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color-dark); 
  
}
html h1 {
    margin: 0;
  }
html h2 {
    margin: 0;
  }
  html h3 {
    margin: 0;
  }
  html p {
    margin: 0;
  }

.title-ff {
  font-family: 'TradeGothic', sans-serif;
}
.font-color-7 {
  opacity: 0.7;
}
.font-color-5 {
  opacity: 0.5;
}
.font-color-4 {
  opacity: 0.4;
}
// _______________________________________________Font-size ---Montserrat

.fz-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.fz-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.fz-20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

// _______________________________________________Font-size ---TradeGothic LT Extended

.fz-accent-45 {
  font-family: "TradeGothic LT Extended" ;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
}
